{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/estilo.css' %}"/>
    <title>{{pagine}}</title>
</head>
<body style = "background-image: linear-gradient(to bottom right, rgb(19, 66, 153) 10%,rgb(20, 48, 99) 40%, rgb(11, 21, 39) 100%);">
    <div class ="principal">
        {% block conteudo %} 
            
        {% endblock %}
    </div>
</body>
</html>