{% extends 'base.html' %}
{% load static %}
{% block conteudo  %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/departamento.css' %}">
    <a href = "{% url  "new_depth" %}" class ="new_depth"><button>Novo Departamento</button></a>
    <div class  = "container_depth" > 
        <ul>
            <h1>{{Departamento}} </h1>
            <hr class= "line"> </hr>

            {% for dp in lista_de_depth %}
            <li>
                <h2> 
                    <a href = "{% url 'filter' dp.id %}"> {{dp.nome}} </a>
                </h2>
            </li>
            {% endfor %}
        </ul>
    </div>
   
{% endblock %}