{% extends 'base.html' %}

{% load static %}

{% block conteudo %}
<link rel = "stylesheet"  type="text/css" href = "{% static 'css/estilo.css' %}">
<table>
    <tr>
        <td> 
            ID:
        </td>

         <td> 
            {{Depth.id}}
        </td>
    </tr>

     <tr>
        <td> 
            nome:
        </td>

         <td> 
            {{Depth.nome}}
        </td>
    </tr>
     <tr>
        <td> 
           telefone:
        </td>

         <td> 
            {{Depth.telefone}}
        </td>
    </tr>
</table>

{% for lf in Funcionarios %}

<p> {{lf.nome}}</p>

{% endfor %}



{% endblock %}